@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
/* Base */
:root {
  font-size: 16px;
  --foreground: #e4cbb3;
  --background: #261b17;
  --shadow: #1b110e;
  --accent: #e86420;
  --accent-alt: #e01d1d;
  --accent-alt-2: #e35b15;
}
* {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  background-color: var(--background, #261b17);
  color: var(--foreground, #e4cbb3);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a, a:visited {
  color: var(--accent-alt-2, #e35b15) !important;
  text-decoration: underline;
}
a:hover {
	color: var(--accent, #e86420);
	cursor: pointer;
}
a:active,
a:focus {
		color: var(--accent-alt, #e01d1d);
}
/* Copying Tailwind like never before */
.flex {
  display: flex;
}
.txt-cntr {
  text-align: center;
}
.jst-cnt-cntr {
  justify-content: center;
}
.algn-cntr {
  align-items: center;
}
.mega-cntr {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
/* Flexing */
main {
  margin: 0.25rem 0.3rem 0rem 0.3rem;
}
main > fieldset {
  margin: 0rem 0.4rem 0rem 0.4rem;
  height: 98.3vh;
}
.contributions, .about-me {
  flex: 1;
}
.projects {
  flex: 2;
}
/* Boxes */
fieldset {
  display: flex;
  flex-direction: column;
  border: 3px solid var(--foreground, #e4cbb3);
}
/* Text in box */
legend {
  margin: auto; /* Center text*/
  font-size: 1.25rem;
  font-weight: 600;
  -webkit-user-select: none;   /*                        */
  -moz-user-select: -moz-none; /* Make text unselectable */
  user-select: none;           /*                        */
}
/* About me */
.about-me fieldset {
  margin: 1rem 1rem 0rem 1rem;;
  padding: 1rem;
  border: 2px solid var(--foreground, #e4cbb3);
}
.github-logo {
  margin-top: 0.85rem;
}
.github-logo > span {
  margin-right: 0.7rem;
}
/* Languages and tools badges */
.languages, .tools {
  flex-direction:row;
}
.languages legend, .tools legend {
  font-size: 1em;
  font-weight: 400;
}
.languages span, .tools span {
  color: #fff !important;
  width: fit-content;
  padding: 0.22rem;
  display: flex;
  justify-content: center;
  margin: 0rem 0.3rem 0rem 0.3rem;
}
.languages svg, .tools svg {
  margin-right: 0.3rem;
}
.html {
  background-color: #e34c26;
}
.css, .css svg {
  background-color: #563d7c;
}
.js, .js svg {
  background-color: #f1e05a;
  color: var(--shadow) !important;
}
.md {
  background-color: #083fa1;
}
.latex {
  background-color: #3d6117;
}
.cpp {
  background-color: #f34b7d;
}
.java {
  background-color: #b07219;
}
.vscode {
  background-color: #0078d7;
}
.vim {
  color: #;
}
.wsl, .wsl svg {
  background-color: #e95420 ;
  margin-top: 0.1rem;
}
