@import url(https://cdn.jsdelivr.net/gh/tonsky/FiraCode@5.2/distr/fira_code.css);
/* Base */
:root {
  font-size: 16px;
  --foreground: #e4cbb3;
  --background: #261b17;
  --shadow: #1b110e;
  --accent: #e86420;
  --accent-alt: #e01d1d;
  --accent-alt-2: #e35b15;
}
* {
  font-family: "Fira Code", monospace;
  font-weight: 300;
  background-color: var(--background, #261b17);
  color: var(--foreground, #e4cbb3);
  -webkit-tap-highlight-color: transparent;
  text-decoration: none;
  line-height: 1.2;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  color: var(--accent-alt-2, #e35b15);
}
a:visited {
	color: var(--foreground, #e4cbb3);
}
a:hover {
	color: var(--accent, #e86420);
	cursor: pointer;
}
a:active,
a:focus {
		color: var(--accent-alt, #e01d1d);
}
/* Flexing */
.flex {
  display: flex;
}
main {
  margin: 0.25rem 0.3rem 0rem 0.3rem;
}
main > fieldset {
  margin: 0rem 0.4rem 0rem 0.4rem;
  height: 98.3vh;
}
.contributions, .about-me {
  flex: 1;
}
.projects {
  flex: 2;
}
/* Boxes */
fieldset {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--foreground, #e4cbb3);
}
/* Text in box */
legend {
	margin: auto; /* Center text*/
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-user-select: none;   /*                        */
  -moz-user-select: -moz-none; /* Make text unselectable */
  user-select: none;           /*                        */
}
/* About me */
.about-me > .text-box {
  margin: 1rem;
  padding: 1rem;
}
.github {
  margin-top: 0.8rem;
  /* align-items: center; */
}
.github > span {
  margin-right: 0.7rem;
}
